<span style="background-color:green;color:white;border-radius:3px;font-size:14px;line-height:21px;padding:2px 4px;">啤酒小助手</span>
<br/>提醒您：还有不到 50 秒 NPC 的商品就要刷新了，啤酒血包要抢的可以准备咯。
<button id="wh-rd-btn-{{}}">【今日不再提醒】</button><br/>
<a href="/shops.php?step=bitsnbobs#clickfromnotify" target="_blank">【啤酒店】</a>
<a href="/shops.php?step=pharmacy#clickfromnotify" target="_blank">【血包店】</a>