<div class="acc-title">
    <span class="item-desc tt-buy">
        <span class="item Alcohol" itemid="180" loaded="0">
            <span class="item-plate">
                <img alt="Bottle of Beer" class="torn-item large"
                     src="/images/items/180/large.png"
                     srcset="/images/items/180/large.png 1x, /images/items/180/large@2x.png 2x, /images/items/180/large@3x.png 3x, /images/items/180/large@4x.png 4x">
            </span>
            <span class="item-hover">
                <button aria-labelledby="Show info: 180-name 180-price 180-stock" class="view-info wai-btn"
                        value="100"></button>
                <button aria-label="Buy: Bottle of Beer" class="buy-info wai-btn" value="100"></button>
            </span>
        </span>
        <span class="desc">
            <input name="shoparea" type="hidden" value="100">
            <span id="180-name" class="name  t-overflow bold">Bottle of Beer</span>
            <span id="180-price" class="price t-gray-6 tt-modified" data-sell="$5">$10<span
                    class="tt-profit positive"><i class="fas fa-caret-up"></i>$1,636</span></span>
            <span id="180-stock" class="stock t-gray-6 t-overflow">Alcohol (<span class="instock">5,000</span> in
                stock)</span>
        </span>
        <span class="buy-act-wrap">
            <button aria-label="Close" class="close-icon p0 wai-btn" value="100"></button>
            <label class="wai" for="180">Amount
                of Bottle of Beer</label>
            <input id="180" autocomplete="new-amount" maxlength="3" name="buyAmount[]" type="text" value="100">
            <span class="buy-act bold">
                <button class="wai-support t-blue h" value="100">Buy<br><span class="tt-max-buy">fill
                        max</span></button>
                <div class="tt-max-buy-overlay"></div>
            </span>
        </span>
    </span>
    <div class="torn-divider divider-right"></div>
    <div class="confirm-wrap" tabindex="0">
        <span class="confirm">
            <span>
                Are you sure you would like to buy
            </span>
            <span>
                <span class="count"></span>
                x Bottle of Beer for
                $<span class="total"></span>
            </span>
            <span class="confirm-act m-top5">
                <a class="wai-support yes m-right10 bold t-blue h" data-id="180" href="#">
                    Yes
                </a>
                <span class="no bold">
                    <a class="wai-support t-blue h" href="#">
                        No
                    </a>
                </span>
            </span>
        </span>
    </div>
    <div class="success-wrap">
        <span class="success">
            <span class="t-green bold">
                <span class="ajax-preloader"></span>
            </span>
        </span>
        <button aria-label="Close" class="close-icon p0 wai-btn" value="100"></button>
    </div>
    <div class="msg-wrap">
        <span class="t-green bold">
            <span class="ajax-preloader"></span>
        </span>
    </div>
</div>