<style>
    html {
        overflow: hidden !important;
    }

    #chatRoot {
        display: none !important;
    }

    #wh-dialog {
        position: absolute;
        /*width: 100%;*/
        /*height: 100%;*/
        background: #00000066;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 290001;
    }

    #wh-dialog .top-round {
        text-align: center;
    }

    #wh-dialog div.wh-content {
        padding: 1em;
    }

    #wh-dialog .border-round {
        margin: auto;
        max-width: 400px;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
    }

    #wh-dialog .pin-bottom {
        text-align: center;
        padding: 8px 0;
    }
</style>
<div class="border-round">
    <div class="title-black top-round">{{}}</div>
    <div class="cont-gray bottom-round">
        <div class="wh-content">{{}}</div>
        <div class="non-selection pin-bottom">
            <button class="torn-btn">确定</button>
            <button class="torn-btn">取消</button>
        </div>
    </div>
</div>