<style>
    #wh-popup-cont label p {
        padding: 0 0 0 1em;
    }

    #wh-popup-cont label span {
        font-weight: bold;
    }
</style>
<p id="wh-nnb-info-container"></p>
<p><b>NNB</b>（<b>N</b>atural <b>N</b>erve <b>B</b>ar）意思是：扣除所有加成后，玩家本身的犯罪条上限，可用于衡量大佬隐藏的犯罪技能等级
</p>
<p>一般来说，左侧红色的犯罪条（<b>N</b>erve <b>B</b>ar/<b>NB</b>）的上限都是包含加成的，如来自帮派、天赋的加成等。额外的加成不会影响玩家的犯罪技能
</p>
<p>查看NNB的方法很简单，在Torn主页面的最下方有一栏Perks，NB-Perks=NNB</p>
<div>
    <p>以下是两种计算NNB的方法：</p>
    <label>
        <input checked name="wh-nnb-check-select" type="radio" value="bw"/><b> 冰蛙或PDA (推荐)</b>
        <p>由于需要用到APIKey，因此需要冰蛙或PDA提供</p>
        <p>当前可以使用的APIKey：<br/>
            <input readonly value="{{}}">(来自冰蛙)<br/>
            <input readonly value="{{}}">(来自PDA)</p>
    </label>
    <label>
        <input name="wh-nnb-check-select" type="radio" value="ori"/><b> 普通方法</b>
        <p>该方法不需要APIKey，但是仅限在主页面（海外或飞行状态不可用）的时候</p>
    </label>
</div>
<button>计算</button>