<style>html {
    overflow: hidden !important;
}</style>
<div class="border-round" id="wh-popup-container">
    <div class="title-black top-round" id="wh-popup-title"><p>{{}}</p></div>
    <div class="scroll-area scrollbar-transparent cont-gray bottom-round" id="wh-popup-cont">{{}}</div>
</div>