<style>
    #wh-popup-cont input {
        width: 12em;
    }

    #wh-popup-cont input[type="number"] {
        width: 8em;
    }
</style>
<p>输入需要监视的价格，低于该价格发出通知，-1为关闭</p>
<p>注：需要APIKey，当前可用APIKey为<br/>
    <input readonly value="{{}}">(来自冰蛙)<br/>
    <input readonly value="{{}}">(来自PDA)
</p>
<p><b>PT</b><label> $ <input type="number" value="{{}}"/></label></p>
<p><b>XAN</b><label> $ <input type="number" value="{{}}"/></label></p>
<p>
    <button>确定</button>
</p>