<div class="wh-translate">
    <div class="title-black" style="border-radius: 5px 5px 0 0;"><span>常用犯罪</span></div>
    <div class="cont-gray" style="padding: 6px 0;border-radius: 0 0 5px 5px;">
        <!--18-1-->
        <form action="crimes.php?step=docrime4" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="18">
            <input name="crime" type="hidden" value="hackbank">
            <input style="-webkit-appearance:none;padding: 4px;background: #e91e63;border-radius: 5px;color: white;"
                   type="submit" value="18-1"/>
        </form>
        <!--15-3-->
        <form action="crimes.php?step=docrime4" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="15">
            <input name="crime" type="hidden" value="napcop">
            <input style="-webkit-appearance:none;padding: 4px;background: #e91e63;border-radius: 5px;color: white;"
                   type="submit" value="15-3(慎)"/>
        </form>
        <!--仓库-->
        <form action="crimes.php?step=docrime4" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="11">
            <input name="crime" type="hidden" value="warehouse">
            <input style="-webkit-appearance:none;padding: 4px;background: #2196f3;border-radius: 5px;color: white;"
                   type="submit" value="烧仓库"/>
        </form>
        <!--7-2-->
        <form action="crimes.php?step=docrime4" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="7">
            <input name="crime" type="hidden" value="thoroughrobbery">
            <input style="-webkit-appearance:none;padding: 4px;background: #2196f3;border-radius: 5px;color: white;"
                   type="submit" value="7-2(仅过渡用)"/>
        </form>
        <!--偷夹克-->
        <form action="crimes.php?step=docrime4" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="4">
            <input name="crime" type="hidden" value="jacket">
            <input style="-webkit-appearance:none;padding: 4px;background: #009688;border-radius: 5px;color: white;"
                   type="submit" value="偷夹克"/>
        </form>
        <!--卖碟3-1-->
        <form action="crimes.php?step=docrime2" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="3">
            <input name="crime" type="hidden" value="cdrock">
            <input style="-webkit-appearance:none;padding: 4px;background: #009688;border-radius: 5px;color: white;"
                   type="submit" value="卖碟"/>
        </form>
        <!--捡钱-->
        <form action="crimes.php?step=docrime2" method="post" style="display: inline-block;margin: 0 5px">
            <input name="nervetake" type="hidden" value="2">
            <input name="crime" type="hidden" value="searchtrainstation">
            <input style="-webkit-appearance:none;padding: 4px;background: #009688;border-radius: 5px;color: white;"
                   type="submit" value="捡钱"/>
        </form>
    </div>
    <hr class="page-head-delimiter m-top10 m-bottom10 r1854">
</div>