<input type="button" value=" - "/>
<p>主要用途：出院秒飞</p>
<p>点起飞，页面加载完成后会马上飞走</p>
<br/>
<div>
    <label>目的地：<select>
        <option selected>墨西哥</option>
        <option>开曼</option>
        <option>加拿大</option>
        <option>󠁵󠁳夏威夷</option>
        <option>嘤国</option>
        <option>阿根廷</option>
        <option>瑞士 (解毒)</option>
        <option>立本</option>
        <option>祖国</option>
        <option>阿联酋 (UAE)</option>
        <option>南非</option>
    </select></label>
    <label>飞机：<select>
        <option>普通飞机 - 不推荐</option>
        <option selected>PI小飞机</option>
        <option>私人飞机 - WLT股票</option>
        <option>商务飞机 - 机票或内衣店</option>
    </select></label>
    <p><a>查看花偶库存</a></p>
    <p>注：需要验证时无法起飞</p>
    <info></info>
    <button>起飞</button>
</div>