<div class="m-top10">
    <h4 class="left" id="skip-to-content">RW 雷达</h4>
    <div class="clear"></div>
    <hr class="page-head-delimiter">
</div>

<div class="content m-top10">
    <a href="/profiles.php?XID=2687093" target="_blank">woohoo</a>
    <table>
        <thead>
        <tr>
            <th>123</th>
            <th>456</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>789</td>
            <td>012</td>
        </tr>
        </tbody>
    </table>
</div>