<div id="wh-trv-error"><p><b>❌ 没有权限</b><br/>点击网页内任意位置以激活闹钟</p></div>
<div id="wh-trv-alarm-title">
    <h5 id="wh-trv-alarm-header">飞行闹钟</h5>
</div>
<div id="wh-trv-alarm-bottom">
    <div id="wh-trv-alarm-cont">
        <p id="wh-trv-alarm-remaining"></p>
        <p><span id="wh-trv-status">正在{{}}    </span><span>✈</span></p>
        <div><input class="checkbox-css" id="WHTravelAlarmToggle" type="checkbox" {{}}/><label
                class="non-selection marker-css" for="WHTravelAlarmToggle">开启闹钟</label></div>
        <div><label>落地前响铃时长(秒): <input type="number" value="{{}}"/></label>
            <button>确定</button>
        </div>
        <div class="wh-trv-alarm-stop-hide">
            <button>停止闹钟</button>
        </div>
    </div>
</div>