<style>
    #WHLogsCont {
        width: 100%;
        height: 340px;
    }

    #WHLogsCont p {
        overflow-x: auto;
        white-space: nowrap;
        word-break: keep-all;
    }
</style>
<p>{{}}信息 {{}}警告 {{}}错误
    <button class="torn-btn">导出日志</button>
</p>
<div id="WHLogsCont">加载中</div>