<div>
    <button id="wh-trans-icon-btn"></button>
</div>
<div class="wh-container">
    <div class="wh-main">
        <div><b>芜湖助手</b></div>
        <div id="wh-gSettings"></div>
        <div>
            <p>当前版本: {{}}
                <button id="wh-update-btn">更新</button>
            </p>
        </div>
        <div><p>最新版本: <span id="wh-latest-version"></span></p></div>
        <div><p id="wh-inittimer"></p></div>
    </div>
</div>