<div id="deadman_div" style="width: inherit">
    <div id="deadman_header" style="margin:10px 0px; border:1px solid darkgray; text-align:center;">
        <button class="torn-btn" id="deadman-start-btn" style="margin:5px;">开始寻找木桩</button>
        <button class="torn-btn" style="margin:5px;">停止</button>
    </div>
    <div id="deadman_tips" style="text-align:center; margin-bottom: 3px; font-size: 16px;">未开始</div>
    <div id="deadman_wrapper"
         style="min-height:700px;margin:10px 0px; border:1px solid darkgray;  text-align:center;overflow:hidden;">
        <table cellspacing="0" id="watchlist-table" style="width:100%; background-color: white; font-size:12px;">
            <thead>
            <th style="border: 1px solid darkgray;padding: 5px;background-color: black;color: white;font-weight: bold;text-align:center;">
                ID
            </th>
            <th style="border: 1px solid darkgray;padding: 5px;background-color: black;color: white;font-weight: bold;text-align:center;">
                名字
            </th>
            <th style="border: 1px solid darkgray;padding: 5px;background-color: black;color: white;font-weight: bold;text-align:center;">
                等级
            </th>
            <th style="border: 1px solid darkgray;padding: 5px;background-color: black;color: white;font-weight: bold;text-align:center;">
                攻击
            </th>
            <!--            <th style="border: 1px solid darkgray;padding: 5px;background-color: black;color: white;font-weight: bold;text-align:center;">-->
            <!--                BS(M)-->
            <!--            </th>-->
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</div>