.wh-move-btn #defender div[class^="modal___"] {
    display: block;
    width: 0 !important;
    left: -169px !important;
    background: none;
}

.wh-move-btn #defender div[class^="dialog___"] {
    border: 0;
    width: 159px;
    height: 96px;
    max-width: unset;
}

.wh-move-btn #defender div[class^="colored___"] {
    display: block;
    padding: 0;
}

.wh-move-btn #defender div[class^="title___"] {
    height: 0;
}

/* 此处限制宽度，否则人物模型图片会溢出遮挡武器栏 */
.wh-move-btn #defender div[class^="modelWrap___"] {
    max-width: 100%;
}

.wh-move-btn #defender button {
    width: 100%;
    margin: 17px 0;
    height: 60px;
}

/* 解决按钮图标负边距被上层元素限制遮挡问题 */
.wh-move-btn #defender div[class^="playerWindow___"] {
    overflow: unset;
}

/* 手机端 */
@media screen and (max-width: 600px) {
    .wh-move-btn #attacker div[class^="playerWindow___"] {
        overflow: unset;
    }

    .wh-move-btn #attacker div[class^="modelWrap___"] {
        max-width: 100%;
    }

    .wh-move-btn #attacker div[class^="modal___"] {
        display: block;
        width: 0;
        top: CSSVAR;
        left: -80px;
        height: 0;
    }

    .wh-move-btn #attacker div[class^="dialog___"] {
        border: 0;
        width: 80px;
        /* torn的规则限制90% */
        max-width: unset;
        height: CSSVAR;
    }

    .wh-move-btn #attacker div[class^="colored___"] {
        display: block;
        padding: 0;
    }

    .wh-move-btn #attacker div[class^="title___"] {
        height: 0;
    }

    .wh-move-btn #attacker button {
        width: 100%;
        margin: 0;
        height: 63px;
        white-space: normal;
    }

}