.wh-city-finds .leaflet-marker-pane img[src*="torn.com/images/items/"] {
    display: block !important;
    box-sizing: border-box;
    width: 40px !important;
    height: 40px !important;
    left: -20px !important;
    top: -20px !important;
    padding: 10px 0;
    border: none;
    border-radius: 100%;
    background-color: #d2d2d28c;
    box-shadow: 0 0 10px 5px #000;
    z-index: 999 !important;
}

.wh-city-finds .leaflet-marker-pane.leaflet-marker-icon.user-item-pinpoint.leaflet-clickable {
    display: none !important;
}

/*#wh-city-finder-header{*/
/*    background-color: #3f51b5;*/
/*    color: white;*/
/*    padding: 8px;*/
/*    font-size: 15px;*/
/*    border-radius: 4px 4px 0 0;*/
/*    text-shadow: 0 0 2px black;*/
/*    background-image: linear-gradient(90deg,transparent 50%,rgba(0,0,0,.07) 0);*/
/*    background-size: 4px;*/
/*}*/

/*#wh-city-finder{*/
/*    box-shadow: 0 0 3px 0px #696969;*/
/*    border-radius: 4px;*/
/*}*/
/*#wh-city-finder-cont{*/
/*    background: #616161;*/
/*    padding: 8px;*/
/*    color: #c7c7c7;*/
/*    border-radius: 0 0 4px 4px;*/
/*    font-size: 13px;*/
/*}*/
/*#wh-city-finder-cont span{*/
/*    margin:2px 4px 2px 0;*/
/*    padding:2px;*/
/*    border-radius:2px;*/
/*    background:green;*/
/*    color:white;*/
/*    display:inline-block;*/
/*}*/
.wh-city-finder-item {
    margin: 2px 4px 2px 0;
    padding: 2px;
    border-radius: 2px;
    background: green;
    color: white;
    display: inline-block;
}