.wh-hide {
    display: none;
}

#wh-trans-icon {
    user-select: none;
    display: inline-block;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 100010;
    border-radius: 4px;
    max-width: 220px;
    box-shadow: 0 0 3px 1px #8484848f;
}

div#effectiveness-wrap {
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    #wh-trans-icon {
        top: 0;
        left: 112px;
    }

    /* 冰蛙公司效率表 */
    div#effectiveness-wrap {
        margin-left: -76px;
        margin-right: -76px;
    }
}

#wh-trans-icon select {
    width: 110px;
}

#wh-trans-icon a {
    text-decoration: none;
    color: #006599;
    background: none;
}

#wh-trans-icon:not(.wh-icon-expanded):hover {
    background: #f8f8f8;
}

#wh-trans-icon button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

#wh-inittimer {
    margin-top: 6px;
    color: #b0b0b0;
}

#wh-gSettings div {
    margin: 4px 0;
}

#wh-trans-icon .wh-container {
    margin: 0;
    padding: 0 16px 16px;
    border: 0;
}

#wh-trans-icon-btn {
    height: 16px;
    width: 16px;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M160 144a32 32 0 0 0-32 32V864a32 32 0 0 0 32 32h688a32 32 0 0 0 32-32V176a32 32 0 0 0-32-32H160z m0-64h688a96 96 0 0 1 96 96V864a96 96 0 0 1-96 96H160a96 96 0 0 1-96-96V176a96 96 0 0 1 96-96z"/><path d="M482.176 262.272h59.616v94.4h196v239.072h-196v184.416h-59.616v-184.416H286.72v-239.04h195.456V262.24z m-137.504 277.152h137.504v-126.4H344.64v126.4z m197.12 0h138.048v-126.4H541.76v126.4z"/></svg>') no-repeat center;
    padding: 16px !important;
}

#wh-trans-icon .wh-container {
    display: none;
}

#wh-trans-icon.wh-icon-expanded .wh-container {
    display: block;
    word-break: break-all;
}

.wh-icon-expanded {
    min-width: 200px;
}

#wh-cash-monitor {
    margin: 4px 8px;
    font-size: 14px;
}

.wh-icon-expanded #wh-cash-monitor {
    display: none;
}

#wh-latest-version {
    display: inline-block;
    background-image: url("https://jjins.github.io/t2i/version.png?{{}}");
    height: 16px;
    width: 66px;
}

/** 弹出窗口 **/
#wh-popup {
    position: fixed;
    z-index: 200000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    /*color: #333;*/
}

div#wh-popup::after {
    content: '点击空白处关闭';
    display: block;
    color: #ffffffdb;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

#wh-popup-container {
    max-width: 568px;
    margin: 5em auto 0;
    /*box-shadow: 0 0 5px 1px #898989;*/
}

#wh-popup-title p {
    /*padding: 1em 0;*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/** 弹出窗口的内容 **/
#wh-popup-cont {
    padding: 1em;
    max-height: 30em;
    overflow-y: auto;
    font-size: 14px;
    line-height: 16px;
    min-height: 120px;
}

#wh-popup-cont .gSetting > div {
    display: inline-block;
    width: 47%;
    margin: 2px 0;
}

/*#wh-popup-cont .gSetting button {*/
/*    cursor: pointer;*/
/*    border: 0;*/
/*    color: #2196f3;*/
/*    padding: 2px;*/
/*}*/

#wh-popup-cont p {
    padding: 0.25em 0;
}

#wh-popup-cont a {
    color: red;
    text-decoration: none;
}

#wh-popup-cont li {
    margin: 4px 0;
}

#wh-popup-cont h4 {
    margin: 0;
    padding: 0.5em 0;
}

#wh-popup-cont button:not(.torn-btn) {
    margin: 0 4px 0 0;
    padding: 5px 8px;
    border: solid 2px black;
    color: black;
    border-radius: 3px;
}

#wh-popup-cont button[disabled] {
    opacity: 0.5;
}

#wh-popup-cont input {
    padding: 2px;
    text-align: center;
    border: 1px solid #fff0;
    border-radius: 5px;
    margin: 1px 2px;
}

#wh-popup-cont input:focus {
    border-color: blue;
}

#wh-popup-cont table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

#wh-popup-cont td, #wh-popup-cont th {
    border-collapse: collapse;
    padding: 4px;
    border: 1px solid;
}

#wh-popup-cont textarea {
    display: block;
    width: 100%;
    min-height: 4em;
    margin-bottom: 1em;
}

.wh-display-none {
    display: none !important;
}

.wh-gym-stack #gymroot {
    display: none !important;
}

#wh-notify {
    display: inline-block;
    position: fixed;
    top: 0;
    left: calc(50% - 180px);
    width: 360px;
    z-index: 9999990;
    color: #333;
    pointer-events: none;
}

#wh-notify a, #wh-notify button { pointer-events: all; }

#wh-notify a {
    color: red;
    text-decoration: none;
}

#wh-notify .wh-notify-item { /*height: 50px;*/
    background: rgb(239 249 255 / 90%);
    border-radius: 2px;
    margin: 0.5em 0 0 0;
    box-shadow: 0 0 5px 0px #959595;
}

#wh-notify .wh-notify-item:hover {
    background: rgb(239 249 255 / 98%);
}

#wh-notify .wh-notify-item .wh-notify-bar {
    height: 2px;
    background: #2196f3;
}

#wh-notify .wh-notify-item .wh-notify-close {
    float: right;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M923%20571H130.7c-27.6%200-50-22.4-50-50s22.4-50%2050-50H923c27.6%200%2050%2022.4%2050%2050s-22.4%2050-50%2050z%22%20fill%3D%22%232196f3%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: 100%;
    margin: 6px 6px 0 0;
    cursor: pointer;
    pointer-events: all;
}

#wh-notify .wh-notify-item .wh-notify-msg {
    padding: 12px;
}

.non-selection {
    user-select: none;
}

.mt-4 {
    margin-bottom: 4px;
}

/*.el-overlay {*/
/*    backdrop-filter: blur(20px);*/
/*}*/
