.wh-depo-helper div#funds div.deposit,
.wh-depo-helper div#armoury-donate div.cash {
    position: fixed !important;
    top: 150px;
    right: 12px;
    box-shadow: 0 0 8px 1px #00000091;
    background: #f2f2f2;
    z-index: 999999;
}