#wh-quick-fly-opt {
    position: fixed;
    left: 64px;
    top: 64px;
    background: #008000db;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #ffffff29;
    color: white;
    font-size: 15px;
    width: 220px;
    z-index: 199999;
}

#wh-quick-fly-opt p {
    margin: 4px 0;
}

#wh-quick-fly-opt a {
    cursor: pointer;
    border: 1px solid;
    padding: 4px;
    display: inline-block;
    border-radius: 2px;
}

#wh-quick-fly-opt label {
    display: block;
}

#wh-quick-fly-opt select {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
}

#wh-quick-fly-opt button {
    font-size: 16px;
    color: white;
    cursor: pointer;
    float: right;
    background: #00BCD4;
    padding: 8px;
    border-radius: 4px;
}

#wh-quick-fly-opt.wh-quick-fly-opt-hide * {
    display: none;
}

#wh-quick-fly-opt.wh-quick-fly-opt-hide input {
    display: inline-block;
}

info {
    display: block;
}