.wh-link-collection-cont a {
    display: inline-block;
    border: solid 1px #b3b3b3;
    border-radius: 4px;
    margin: 0 5px 2px 0;
    padding: 4px 8px;
    text-align: center;
    background: #efefef;
    background: linear-gradient(#f1f1f1, #e3e3e3);
    color: black !important;
}

.wh-link-collection-cont span {
    display: block;
    /*padding: 0 4px 8px;*/
}

.wh-link-collection-cont .wh-link-collection-img {
    display: block;
    width: 60px;
    height: 30px;
    background-size: 100% auto !important;
}