#wh-trv-alarm {
    position: absolute;
    width: 248px;
    background: white;
    border-radius: 4px;
    box-shadow: #0000001f 0 0 10px 4px;
    border: solid 1px #aaa;
    z-index: 100001;
    margin: 2em;
}

#wh-trv-alarm button {
    margin: 0;
}

#wh-trv-error {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

#wh-trv-error p {
    background: #ffd0d0;
    color: red;
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    text-align: center;
}

#wh-trv-alarm-title {
    height: 30px;
    border-bottom: solid #aaa 1px;
    cursor: move;
}

h5#wh-trv-alarm-header {
    height: 100%;
    line-height: 30px;
    padding: 0 12px;
    font-weight: bold;
    text-align: center;
}

#wh-trv-alarm-bottom {
    padding: 12px;
}

#wh-trv-alarm-remaining {
    float: right;
    color: red;
}

#wh-trv-alarm-cont {
    line-height: 18px;
}

#wh-trv-alarm-cont input[type="number"] {
    width: 42px;
    border-bottom: solid 1px #aaa;
}

.wh-trv-alarm-stop-hide {
    display: none;
}