<template>
    <el-form label-position="left" label-width="auto">
        <div>
            <el-text size="large" type="primary">翻译</el-text>
        </div>
        <el-form-item label="开启翻译">
            <!--      <el-col :span="22"></el-col>-->
            <el-col :offset="22" :span="2">
                <el-switch v-model="config.transEnable" size="small"/>
            </el-col>
        </el-form-item>
        <el-form-item label="新翻译">
            <el-col :span="22">
                <el-text size="small" type="info">改进后的翻译，更好的性能</el-text>
            </el-col>
            <el-col :span="2">
                <el-switch v-model="config.transNew" size="small"/>
            </el-col>
        </el-form-item>
        <div>
            <el-text size="large" type="primary">战斗</el-text>
        </div>
        <el-form-item label="光速拔刀">
            <el-col :offset="18" :span="6">
                <el-select>
                    <el-option>主手</el-option>
                    <el-option>副手</el-option>
                    <el-option>近战</el-option>
                    <el-option>手雷</el-option>
                    <el-option>拳头</el-option>
                    <el-option>脚踢</el-option>
                    <el-option>关闭</el-option>
                </el-select>
            </el-col>
        </el-form-item>
        <el-form-item label="攻击界面转跳">
            <el-col :offset="22" :span="2">
                <el-switch v-model="config.attRelocate" size="small"/>
            </el-col>
        </el-form-item>
    </el-form>
</template>

<script lang="ts" setup>
import { inject, ref } from "vue";
import { LocalConfigWrapperKey } from "../ts/class/LocalConfigWrapper";

const localConfigWrapper = inject(LocalConfigWrapperKey);
const config = ref(localConfigWrapper.config);
</script>

<script lang="ts">
export default {
    name: "Config"
}
</script>

<style scoped>

</style>
