<div id="wh-xmas-cont">
    <div class="title-black"><span>水晶球解密地图攻略</span><span><button style="color: white">[隐藏]</button></span>
    </div>
    <div class="cont-gray select-wrap dropdown-new dropdown-default">
        <select>
            <option value="None">未选择</option>
            <option value="Christmas Town">Christmas Town</option>
            <option value="Maltese Snow Globe">Maltese Snow Globe</option>
            <option value="Long way from home">Long way from home</option>
            <option value="Chedburn Towers">Chedburn Towers</option>
            <option value="Kidnapped Santa">Kidnapped Santa</option>
            <option value="Holiday terror">Holiday terror</option>
            <option value="Among Us">Among Us</option>
            <option value="Kiss My Festivus">Kiss My Festivus</option>
            <option value="Stanley Hotel">Stanley Hotel</option>
            <option value="DoggoQuest">DoggoQuest</option>
            <option value="Pokemon CT">Pokemon CT v2.0</option>
            <option value="Winter in Gatlin">Winter in Gatlin</option>
        </select>
        <div>
            <p>来源：Torn City公众号，图文详情请查看公众号文章</p>
            <div id="wt-content"></div>
        </div>
    </div>
    <hr class="page-head-delimiter m-top10 m-bottom10 r1854">
</div>
<style>
    #wh-xmas-cont .cont-gray {
        padding: 0.5em;
    }

    #wh-xmas-cont p, #wh-xmas-cont select, #wh-xmas-cont li {
        margin: 0 0 3px;
    }
</style>