<ul>
    <li>出生点步行到传送点进入地图 1 [399,12]</li>
    <li>到达地图1，你出现在食堂，往下走，绕到红色按钮处[502，-1]</li>
    <li>答案：D B A A D D B B B C A D D D 最终: B (Green)</li>
    <li>然后你会被传送到地图2</li>
    <li>在地图2中，你需要沿着小路向南走，然后向东进入通风口，前往下一个部分[556，24]</li>
    <li>穿过通风口后，进入食堂。向南走到红色按钮所在的位置 [571,32]</li>
    <li>答题阶段，答案如下BBACBDC A</li>

    <li>被传送到地图3</li>
    <li>先直接向南走一点，再沿着走廊走。进入左边的一个通风口[345，170]</li>
    <li>会传送到办公室，在那里找到最后一个红色按钮[356，173]</li>
    <li>答题阶段，答案如下CCADABBCD</li>
    <li>进入"PEEP SHOW"，获得本地图的水晶球</li>
</ul>