<ul>
    <li>进入地图后，使用附近的FAST的T下方的厕所传送到Chedburn Towers</li>
    <li>进入大厅，"之"字形上楼，每层都是如此。</li>
    <li>最终会进入问答题区域，通过在相应的数字上穿过来回答问题</li>
    <li>答案是：3 9 5 4 9 2 6 8</li>
    <li>答题后，进入Ched的办公室，向西走，然后一直走到左边的楼梯上</li>
    <li>向南走下楼梯，然后向东走，沿着小楼梯到地下室</li>
    <li>向东走到牢房区域</li>
    <li>先踩下开关，打开牢房门前往右上角的最后一个牢房</li>
    <li>开关位于JAIL文字的左上方</li>
    <li>沿着挖出来的隧道一直走，岔路口向左走</li>
    <li>到金库，Chedburn NPC会给你本地图的水晶球</li>
</ul>