<ul>
    <li>你出现在一个房间里</li>
    <li>向东走，然后向南走，沿着小走廊就可以离开这个房间</li>
    <li>来到这个地牢的01层</li>
    <li>首先向南走，然后绕过墙，攻击你看到的第一个怪物[101,1]</li>
    <li>然后向西走到墙边，向北攻击<span style="color: #32CD32">史莱姆</span></li>
    <li>继续向北，攻击下一个<span style="color: gold">怪物</span></li>
    <li>向北走到拐角处，然后向东走到楼梯处继续前进[坐标为101,1]</li>
    <li>来到第二层，直接向东走上楼梯[11，-19]</li>
    <li>来到了这个地牢的第03层</li>
    <li>向东再向南走到墙边，然后向东走，与绿色<span style="color: #32CD32">史莱姆</span>战斗</li>
    <li>继续向东走，经过被打败的史莱姆，然后向南和向西绕过墙，向北走一格，向西打败另一个<span
            style="color: #32CD32">史莱姆</span></li>
    <li>向西南方向走下楼梯[53，-49]</li>
    <li>来到了第 04 层</li>
    <li>走到墙边，撞右边两个镣铐之间的墙，然后向北直接走到墙里[15，-65]</li>
    <li>直接向北走，踏上红色的东西</li>
    <li>沿着楼梯向南和东南方向走右边楼梯[39，-69]</li>
    <li>来到第5层</li>
    <li>向北走，然后向西绕过中间的十字架，向南走到下一个楼梯[29，-93]</li>
    <li>来到第 6 层</li>
    <li>杀死那只<span style="color: #32CD32">大绿狗</span></li>
    <li>回到刚才的楼梯，来到05层[33，-114]</li>
    <li>在第05层，你会看到原来的十字架位置附近出现了新的楼梯口</li>
    <li>走上该楼梯[54, -99]</li>
    <li>到达了最后的？层</li>
    <li>沿着小路向下走，然后沿着冰冷的台阶走到Rudolph NPC</li>
    <li>在他身边来回走动</li>
    <li>踩在他身上的次数足够多时，Rudolph会把该图的水晶球交给你</li>
</ul>