<ul>
    <li>1. 从出生地沿着路向东，然后向北。过桥并沿着穿过城镇的小路继续前行，避开任何明显的陷阱（道路上的洞、打开的井盖等）。
    </li>
    <li>2. 继续向东和向北前进，直到到达 Mansion's Labyrinth（豪宅迷宫）[121,29]</li>
    <li>3. 豪宅入口在[131,41]</li>
    <li>4. 进入豪宅后向北走，你会看到一条由骷髅守卫的道路</li>
    <li>5. 沿着棕色的小路走，在黑色的<b>区域前</b>停下</li>
    <li>6. 按照如下的方式行进</li>
    <li> 上3格，左2，上2，右4，下1，右3，上6，左2，下1，左6，下2，左2，上4，右5，上4</li>
    <li>7. 来到一个区域，在这里你必须在两个洞穴中做出选择</li>
    <li>第一次选择，答案是Christmas Miracle，选择左边的洞窟。</li>
    <li>第二次选择，答案是24/12/2019，选择左边的洞窟。</li>
    <li>第三次选择，答案是Hohoho Coldington，选择右边的洞窟。</li>
    <li>第四次选择，答案是Christmas Miracle Cave，选择左边的洞窟。</li>
    <li>8. 出现在一个用糖果棒装饰的红色地板的房间里，去地图的右上角一个冰洞的入口[101，-74]</li>
    <li>9. 进入冰洞。向西走，寻找叫Erik the last elf的黄色小NPC</li>
    <li>10. 拿到水晶球</li>
</ul>