<ul>
    <li>从起点出发，沿着小路向北走到出租车处，乘坐前往Dark Forest的出租车 [96,16]</li>
    <li>沿着公路向东走，继续向东进入雪地</li>
    <li>沿着暗淡的蓝色轨迹向东南方向走，穿过树林，直到你到达一个铁栅栏[坐标为114,-89]</li>
    <li>铁栅栏进不去。有人会告诉你乘坐他们的雪地车。</li>
    <li>向西走到雪地车旁，注意不要踩到任何<b>冬青树</b>(鲜艳黄红色的矮树)，否则你将回到起点。</li>
    <li>被传送到锯木厂，在伐木工那里获得钥匙。</li>
    <li>然后向南走，然后向东走（向东走很长一段路），沿着小路返回铁栅栏处。</li>
    <li>来到一个炫酷的45°视角迷宫，你要走到地图的东北部，抵达另一个洞穴口[156,-74]</li>
    <li>先往左下方走到岔路口，然后往右上方走，接下来将只有一条路</li>
    <li>到达岛屿沿着小楼梯上去，绕到正下方那艘天鹅船</li>
    <li>到一个新的岛屿，向南走几步，踩在[12, -79]的蓝色火花上</li>
    <li>被传送到另一个有几辆拖车的岛上</li>
    <li>向北走，进入一个新的山洞口</li>
    <li>人被挡住了，要在冰层下向西北方向一直走，主要是向上和向左走</li>
    <li>沿着这条路一直往上走，然后在开阔的地方往东走，你会看到一座房子[房子的入口在26,58]</li>
    <li>进入房子，向北走几步，穿过闪闪发光的入口，你就可以进入房子了</li>
    <li>沿着东南方向走，你会看到Evil-Duck NPC，他将给你本地图的水晶球</li>
</ul>