<ul>
    <li>出生在一个类似城镇的地方</li>
    <li>沿着这条路向东走，然后向南走</li>
    <li>到达道路尽头的一个码头时，向西走一段路，踩在精灵的上面，乘坐渡船[124, -30]</li>
    <li>搭船来到了Fantasy Island</li>
    <li>小心那个游荡的<span style="color: #32CD32">绿色NPC</span>，不惜一切代价避开他，否则他会把你打回出发点</li>
    <li>向西走，然后向北走，再向西绕过岩石。要非常小心，不要踩到水里或掉下悬崖，否则你会死</li>
    <li>然后回到南边，在那里你会看到一些门</li>
    <li>走进蓝色的门(左二)[111，-60]</li>
    <li>过了蓝门后继续沿路向南</li>
    <li>然后沿路向东，再向南</li>
    <li>再向东走，会看到「恐怖之家」，进入这栋楼[137, -84]</li>
    <li>向北走，进入洞口[164, -81]</li>
    <li>穿过隧道到达另一端的洞穴口[142, -63]，<b>避开所有怪物和NPC</b></li>
    <li>来到另一个岛上</li>
    <li>向南走，然后向东绕过建筑物，可以进入圣诞老人的洞穴[133, -2]</li>
    <li>在建筑物内向西走，再向北走，在圣诞老人家work shop的东北角，你会看到一个楼梯，走下去[169，4]</li>
    <li>在这一区域，<b>要避开所有出现破损或有异样的地砖</b>，也要避开四处游荡的邪恶的格林奇NPC</li>
    <li>沿着地牢里的走廊向东走，然后向南走，避开所有看起来不同的瓷砖</li>
    <li>它们上面有一些小裂缝和花纹，如果你是用手机的话，我建议你把亮度调高，以防万一</li>
    <li>最终会看到一个发绿光的小开关</li>
    <li>走到开关上[165, 18]，激活它，然后进入向北打开的大门</li>
    <li>走到<span style="color: gold">黄色精灵NPC</span>脸上[166，25]，可以得到本地图的水晶球</li>
</ul>