<ul>
    <li>1.随便动一下</li>
    <li>2.左边的管道口</li>
    <li>3.右走到十字路口，往上，往右，从偏左的那个管道往上。</li>
    <li>3.出小门，往右到底，往上到底，往右,进上面房间，右上角的电脑，电脑显示的是下面房间的走法，任意移动退出</li>
    <li>4.去下面房间，右边橙色电力符号，进入解密。下，右下，右下，右上，右上，右，右下，右下，下，左下,左下，</li>
    <li>左，左,左下，左下，进圈。</li>
    <li>5.进入新的房间按钮</li>
    <li>6.一直左走，走到有两个怪兽把手的桥那，进上面的房间，左上角的机器，*是重输密码</li>
    <li>作者随时改密码，建议看纸条上的提示自己去数</li>
    <li>7.桥上怪兽消失, 往左走到底，按钮</li>
    <li>8.右走，走到雪地走大路，按钮开铁门，上darkforest的蓝车</li>
    <li>9.右走十几步，传送</li>
    <li>10.右下走,看到铁丝网，顺着铁丝网右走，有个缺口，进去。</li>
    <li>11.右走，直到看见三颗倒下的圣诞树(记住这里)，顺着血迹和脚印走,进山洞。</li>
    <li>12.顺着山洞走到一滩血，原路出山洞。</li>
    <li>13.原路回到三颗倒下的圣诞树，正上方有个红色仓库,进入。</li>
    <li>14.上，上,上，右，上，左，上,路就通了，去拿到右上角的锯子，原路出仓库。</li>
    <li>15.出来就在车下面，上车，再上车。</li>
    <li>16.左边的小橘人，完成</li>
</ul>