<ul>
    <li>1.想办法进入前几层的楼梯口</li>
    <li>2.出来之后往南走， 在码头找到天鹅船</li>
    <li>3.按着数字1-12走过乐高博物馆</li>
    <li>4.跟着大路走到天鹅船。</li>
    <li>5.走到901,486的银行</li>
    <li>6.最左上的楼梯</li>
    <li>7.B-D-C-E-F-G-C-A</li>
    <li>8.右，右，右，北，北，右，右</li>
    <li>9.走到右上角铁路</li>
    <li>10.小游戏:</li>
    <li>移动1到最右，移动2到中间，移动1到2上面,移动3到最右,移动1到最左,移动2到3.上面，移动1到2上面。</li>
    <li>11.往上走出铁丝网，往左绕一个大圈走到300,476</li>
    <li>12.走到363,406的隧道，走到361,400的隧道 ,往南走。</li>
    <li>13.走到352,334的迷宫，好像有好几条路,我说我的走法，往左下走,走倒最下了往右走，走到1个不一样的绿色的时候，往上走。
    </li>
    <li>14.走到迷宫中间的小人，后面就只有一条路走了，完成。</li>
</ul>