<ul>
    <li>宝可梦新增了战斗系统，路过高草丛会几率进入战斗</li>
    <li>战斗系统为一个十字形界面，上：技能/精灵球捕捉，下：逃跑，左：回血，右：攻击</li>
    <li>战斗守则：攻击，当你血量为33时回血</li>
    <li>打败最终BOSS需要捕捉两只，捕捉地点：</li>
    <li>一：把包裹交给大木博士后，去常磐市的路上</li>
    <li>二：进入森林后遇到的毛毛虫</li>
    <li>捕捉时需要将其打到残血。</li>
    <li>最终BOSS打法：</li>
    <li>第一个敌方精灵，毛虫进化的蝴蝶，先放技能，使其眩晕，在眩晕期间攻击，一旦醒过来就眩晕，重复。</li>
    <li>第一个BOSS死后，第二个BOSS会秒杀蝴蝶， 此时用第二个精灵。</li>
    <li>第二个精灵打法:攻击，看见它放absorbing技能就去回血(当然你没血了也要去回血)，重复。</li>
    <li>【游戏开始】</li>
    <li>出生在你房间的二楼</li>
    <li>下楼梯离开房间。走出家门。从那里向东北方向进入高草丛，将被传送到大木博士（Professor Oak）的实验室</li>
    <li>踩大木博士</li>
    <li>踏上桌子，选择你的宝可梦</li>
    <li>现在出门去常磐市（Veridian City）拿一个包裹</li>
    <li>离开大木博士的实验室，向北走，穿过草地，前往常磐市（Veridian City）</li>
    <li>进入城市后，前往 Poke Mart [134，-3]</li>
    <li>回到大木博士的实验室，返回时可以跳下小路西侧的山崖，避开高草丛</li>
    <li>把包裹交给大木博士后。回常磐市</li>
    <li>在房子和两个精灵之间的小路上继续向北走，穿过城市[79,-21]</li>
    <li>过了精灵后一路向北</li>
    <li>进入一所房子，经过它才能进入常磐森林</li>
    <li>穿过常磐森林才能到达尼比市</li>
    <li>森林的入口向东走，直到看到高草，然后向北走，直到下一片高草</li>
    <li>绕过树木向东走，然后向北走</li>
    <li>现在绕过树木向西走，然后向北走</li>
    <li>然后穿过草地向西和向南走</li>
    <li>沿着这条小路蜿蜒穿过高高的草丛</li>
    <li>沿着小路穿过草地，最终离开森林</li>
    <li>离开森林后，沿着草丛旁小路向北走，到达 Pewter City。向北向西绕到大房子处，到达道馆</li>
    <li>走到大胡桃夹子前，挑战小刚</li>
    <li>赢得这场战斗后你会被带到大木博士那里，他会给本地图的水晶球</li>
</ul>