<ul>
    <li>从起点开始，你会看到正北方有一座房子。向北走几步到门前，进入房子。</li>
    <li>传送到一个有门的地方。绕过并向上走，激活位于[188,72]的大门开关。</li>
    <li>向东北方向前进，沿着血迹穿过森林，直到你到达一个山洞。</li>
    <li>依次使用使用防御（踩盾牌标记），然后攻击（剑），然后魔法（闪亮的蓝色气泡）来杀死怪物。</li>
    <li>最后，你会来到工人Bob的房间，他将给你本地图的水晶球。</li>
</ul>