<ul>
    <li>从出生点出发</li>
    <li>往右走到达树林，往右上走跨过铁栅栏，再往右走，经过红车时从右边缝隙穿过往下走</li>
    <li>沿公路向下走到第一个岔路向右走到废弃的小屋[14,80]</li>
    <li>进入小屋时，你会在一个黑色的小房间里，走到亮起的圆圈处</li>
    <li>在下一个房间里，会有一连串的数字，按以下顺序走到数字上</li>
    <li>1,4,6,8,7,6,4</li>
    <li>在最后一个房间，Epic_Heasley NPC 会给你本图的水晶球</li>
</ul>