<ul>
    <li>旧攻略提到的驯鹿车已被移除，只能手动找一条蓝色的小路[94,3]</li>
    <li>向南走，然后上木桥，沿着它向西走到达冰湖</li>
    <li>在冰湖[55,7][61,64]附近找Labyrinth传送门进入迷宫</li>
    <li>迷宫的出口在中间的方向[395,397]一个冰湖，走进冰湖传送</li>
    <li>走到企鹅</li>
</ul>