<div class="m-bottom10" id="wh-loot-container">
    <audio src="https://www.torn.com/js/chat/sounds/Chirp_3.mp3" style="display:none"></audio>
    <div class="title-black"><span>附近物品</span></div>
    <div class="cont-gray" id="wh-loot-container-main">
        <b>物品</b><span id="wh-loot-item-count"></span>
        <div id="wh-loot-container-items"></div>
        <b>箱子</b><span id="wh-loot-chest-count"></span>
        <div id="wh-loot-container-chests"></div>
    </div>
    <div class="cont-gray wh-hide" id="wh-loot-container-ex">
        <div><label><input id="wh-loot-setting-blink" type="checkbox" {{}}/> 闪烁提示</label></div>
        <div><label><input id="wh-loot-setting-sound" type="checkbox" {{}}/> 声音提示
            <del>(iOS)</del>
        </label></div>
        <div><label><input id="wh-loot-setting-chest" type="checkbox" {{}}/> 不记录需要钥匙的宝箱</label></div>
        <div id="wh-hist">
            <div id="wh-hist-clear">
                <p>
                    <button>清空数据</button>
                    - 长时间不清空会出现奇怪的问题
                </p>
            </div>
            <table>
                <thead>
                <tr>
                    <th colspan="5">历史记录</th>
                </tr>
                <tr>
                    <th>坐标</th>
                    <th>地图</th>
                    <th>类型</th>
                    <th>发现</th>
                    <th>获取</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="cont-gray" id="wh-loot-btn">
        <button>设置</button>
    </div>
</div>
<style>
    #wh-loot-container-main {
        padding: 0.5em;
    }

    #wh-loot-container-main div {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-height: 4em;
    }

    #wh-loot-container-main div span {
        display: inline-block;
        background-color: #2e8b57;
        color: white;
        margin: 0 1em 0 0;
        border-radius: 4px;
        padding: 0.5em;
    }

    #wh-loot-container-main div span img {
        height: 1em;
        width: 1em;
    }

    #wh-loot-container-ex {
        padding: 0.5em;
    }

    #wh-loot-container-ex.wh-hide {
        display: none;
    }

    #wh-loot-container-ex #wh-hist {
        overflow-x: auto;
    }

    #wh-loot-container-ex table {
        margin-top: 0.5em;
    }

    #wh-loot-container-ex tbody {
        background-color: antiquewhite;
    }

    #wh-loot-container-ex table, #wh-loot-container-ex th, #wh-loot-container-ex td {
        padding: 5px;
        border: 1px solid black;
        height: auto;
    }

    #wh-loot-container-ex th:nth-child(1) {
        min-width: 5em;
    }

    #wh-loot-container-ex th:nth-child(2) {
        min-width: 8em;
    }

    #wh-loot-container-ex th:nth-child(3) {
        min-width: 4em;
    }

    #wh-loot-container-ex th:nth-child(4) {
        min-width: 9em;
    }

    #wh-loot-container-ex th:nth-child(5) {
        min-width: 3em;
    }

    #wh-loot-container-ex thead {
        background-color: #2e8b57;
        color: white;
    }

    @keyframes lootFoundAlert {
        0% {
            background: #f2f2f2
        }
        50% {
            background: #2e8b57
        }
        100% {
            background: #f2f2f2
        }
    }
</style>