<table id="wh-dev-info-tb">
    <tr>
        <td>URL</td>
        <td>${ window.location.href }</td>
    </tr>
    <tr>
        <td>页面尺寸</td>
        <td>${ window.innerWidth }x${ window.innerHeight }</td>
    </tr>
    <tr>
        <td>设备类型</td>
        <td>${ CommonUtils.getDeviceType().toUpperCase() }</td>
    </tr>
    <tr>
        <td>脚本运行方式</td>
        <td>${ { 'gm': '油猴', 'raw': '直接运行', 'pda': 'TornPDA' }[CommonUtils.getScriptEngine()] }</td>
    </tr>
    <tr>
        <td>时间</td>
        <td>${ date.getFullYear() }/${ date.getMonth() + 1 }/${ date.getDate() } ${ date.getHours() }:${
            date.getMinutes() }:${ date.getSeconds() }
        </td>
    </tr>
    <tr>
        <td>插件版本</td>
        <td>${ glob.version }</td>
    </tr>
    <tr>
        <td>操作系统</td>
        <td>${ os }</td>
    </tr>
    <tr>
        <td>UA</td>
        <td>${ window.navigator.userAgent }</td>
    </tr>
    <tr>
        <td>用户ID</td>
        <td>${ glob.player_info.userID }</td>
    </tr>
    <tr>
        <td>用户名</td>
        <td>${ glob.player_info.playername }</td>
    </tr>
</table>
<style>
    #wh-dev-info-tb td {
        padding: 2px 4px;
        color: black;
    }
</style>